header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 300%;
    color: white;

}
.tekst{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 500px;
    border: 15px;
    padding: 25px;
    background: rgb(41, 40, 40);
    text-align: left;
    margin:0;
}
body{
    
    background: rgb(2,0,36);
    background-image: url('-colorful-abstract-background-wallpaper.jpg');
}
img{
    width: 300px;
}
footer{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 25px;
    
}
.java-icon{
 width: 50px;

}
.js-icon{
    width: 50px;
}